.flightCard {
  background-color: #6D3DD6;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.flightCard:hover {
  cursor: pointer;
}

.editBtn {
  background-color: #8E68E0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: unset;
  margin-bottom: 0.5rem;
}

.editBtn:hover {
  background-color: #6C4ABE;
}

.detailsBtn {
  background-color: #5234A5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: unset;
  margin-bottom: 0.5rem;
}

.detailsBtn:hover {
  background-color: #8E68E0;
}

.deleteBtn {
  background-color: #E4E1EE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: unset;
  margin-bottom: 0.5rem;
}

.deleteBtn:hover {
  background-color: #FFD3E4;
}

.fCode,
.fCapacity {
  color: #fff;
  margin-bottom: 0.5rem;
}

.fCode span:nth-child(2),
.fCapacity span:nth-child(2) {
  font-weight: bold;
}

.fDate {
  color: #fff;
}